* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", Arial, Helvetica, sans-serif;
}

.formbold-mb-5 {
    margin-bottom: 20px;
}

.formbold-pt-3 {
    padding-top: 12px;
}

.formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

.formbold-form-wrapper {
    margin: 0 auto;
    max-width: 550px;
    width: 100%;
    background: white;
}

.formbold-form-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    color: #07074d;
    margin-bottom: 12px;
}

.formbold-form-label-2 {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.formbold-form-input {
    width: 100%;
    padding: 12px 24px;
    border-radius: 6px;
    border: 1px solid #e0e0e0;
    background: white;
    font-weight: 500;
    font-size: 16px;
    color: #6b7280;
    outline: none;
    resize: none;
}

    .formbold-form-input:focus {
        border-color: #6a64f1;
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }

.formbold-btn {
    text-align: center;
    font-size: 16px;
    border-radius: 6px;
    padding: 14px 32px;
    border: none;
    font-weight: 600;
    background-color: #6a64f1;
    color: white;
    width: 100%;
    cursor: pointer;
}

    .formbold-btn:hover {
        box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
    }

.formbold--mx-3 {
    margin-left: -12px;
    margin-right: -12px;
}

.formbold-px-3 {
    padding-left: 12px;
    padding-right: 12px;
}

.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.w-full {
    width: 100%;
}
@media (min-width: 540px) {
    .sm\:w-half {
      width: 50%;
    }
  }
/* Modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
}

/* Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }

/* CSS cho các thông báo thành công */
.message.success {
    background-color: #dff0d8; /* Màu nền xanh nhạt */
    color: #3c763d; /* Màu văn bản xanh */
    padding: 10px; /* Khoảng cách đệm */
    border: 1px solid #d6e9c6; /* Viền mảnh */
    margin-bottom: 10px; /* Khoảng cách dưới */
}

/* CSS cho các thông báo lỗi */
.message.error {
    background-color: #f2dede; /* Màu nền đỏ nhạt */
    color: #a94442; /* Màu văn bản đỏ */
    padding: 10px; /* Khoảng cách đệm */
    border: 1px solid #ebccd1; /* Viền mảnh */
    margin-bottom: 10px; /* Khoảng cách dưới */
}
.back-to-home-link {
    text-align: right;
    margin-right: 500px; /* Điều chỉnh khoảng cách với lề phải */
    font-size: 20px; 
    padding: 10px 10px;
}